.flight {
  padding-bottom: 25px;
}

.flight__title {
  background-color: #0087C9;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 6px 10px;
}

.flight__carrier-logo {
  width: 100px;
  height: 25px;
  background: left center / contain no-repeat;
  background-color: #0087C9;
}

.flight__carrier-logo_type_BT {
background-image: url(../../images/BT.jpg);
}

.flight__carrier-logo_type_AF {
  background-image: url(../../images/AF.jpg);
  }

.flight__carrier-logo_type_AZ {
  background-image: url(../../images/AZ.jpg);
  }

.flight__carrier-logo_type_SN {
  background-image: url(../../images/SN.jpg);
  }
      
.flight__carrier-logo_type_AY {
  background-image: url(../../images/AY.jpg);
  }
      
.flight__carrier-logo_type_KL {
  background-image: url(../../images/KL.jpg);
  }

.flight__carrier-logo_type_LO {
  background-image: url(../../images/LO.jpg);
  }
            
.flight__carrier-logo_type_PC {
  background-image: url(../../images/PC.jpg);
  }
            
.flight__carrier-logo_type_TK {
  background-image: url(../../images/TK.jpg);
  }

.flight__carrier-logo_type_SU {
  background-image: url(../../images/SU.jpg);
  }

.flight__price {
  color: #FFF;
  font-size: 22px;
  margin: 0;
  line-height: 1em;
}

.flight__price-description {
  width: 100%;
  margin: 0;
  color: #FFF;
  font-size: 11px;
  text-align: right;
  line-height: 0.7em;
}

.routes {
  margin: 0;
  padding: 10px 20px;
  list-style-type: none;
}

.flight__button {
  width: 100%;
  background-color: #FFB168;
  border: none;
  color: #FFF;
  font-size: 16px;
  text-transform: uppercase;
  padding: 10px 0;
  transition: all .5s;
}

.flight__button:hover {
  cursor: pointer;
  opacity: .7;
}