.flights {
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: relative;
}

.flights__button-more {
    width: 200px;
    margin: auto;
    padding: 3px;
    border: 1px solid black;
    font-size: 17px;
    transition: all .6s;
}

.flights__button-more:hover {
  cursor: pointer;
  opacity: .6;
  transform: scale(1.05);
}

.flights__message {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #007EFF;
}

.flights__total-number-flights {
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 18px;
  font-weight: bold;
  color: #007EFF;
  white-space: nowrap;
  text-align: center;
}